 
 .bgColor{
    background: #191d3a;
   }
  
   .Testitext{
     color: rgb(223, 213, 213);
   }
   
  .minheight{
    height: 65vh;
  }
  
  .caption{
    /* filter: blur(4px); */
  }
  
  .carousel-inner{
    height: 90vh
  }
  
  
  .carousel-indicators{
    display: none !important;
  }
  
  
   .caption.w-50.m-auto.carousel-caption {
     top: 0px;
    }
  
  .boxShadow {
    background: rgb(75 47 110 / 9%);
    padding: 30px;
    border: 2px solid #8a49a88e;
  }
  
  
   .ReviewImg{
     position: absolute;
     width: 15%;
     height: 15%;
     border-radius: 50px;
   }
  
   .text-white{
       font-weight: bold;
   }
  
  
   .carousel-contet{
       border-color: 2px solid red;
       border-radius: 50px;
   }
  
  .reviewImg{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-bottom: 10px; 
  }
  
  
  
  