
/* 
.slick-arrow
.slick-next{
    color: black !important;
} 
*/

.card{
  border-radius: 15px;
 }

.graduate-img{
  border-radius: 15px;
 }


 /* .slick-arrow{
  background: #00000057;
  width: 63px;
  height: 63px;
  border-radius: 10px;
 }
.slick-prev{
  z-index: 999;
}

.slick-next{

}

.slick-dots{
    font-size: 20px;
} */