.cardContent{
    text-align: start;
}
.css-46bh2p-MuiCardContent-root {
    padding: 16px 16px 16px 0px !important;
}
.left-img-content{
    background: #F6F7FB;
    border-radius: 15px;
}
.wraper-box{
    display: flex;
    padding: 7px;
}
.img-box{
  width: 30%;
  padding: 5px;
}
.content-box{
    text-align: start;
    padding: 0px 12px 12px 12px;
}
.image{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img-box img{
    border-radius: 10px;
}
.img-card{
    border-radius: 15px;
    margin-top: 10px;
}


.news-header{
    display: flex;
    justify-content: space-between;
}

.left-align{
  width: 70%;
  text-align: start;
}
.right-align{
  width: 30%;
  text-align: end;
}


@media only screen and (max-width: 2000px){
	.left-img-content{
        margin-bottom: 15px;
    }  
    .wraper-box{
        margin: 10px;
    }
    .image{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .img-box{
        width: 30%;
    }
    .content-box{
        width: 70%;
        padding: 7px;
    }
}

@media only screen and (max-width: 992px){
    .left-img-content{
        margin-bottom: 5px;
      }      

    .cardContent{
       margin-top: 35px;
    }
    .cardContent, .mt-3{
       margin-top: 35px;
    }
    .wraper-box{
        display: grid;
    }
    .image{
        width: 100%;
        height: auto;
        object-fit: cover;
        height: 15vh;
    }
    .img-box{
        width: 100%;
      
    }
    .content-box{
        width: 100%;
        text-align: start;
        padding: 0px 12px 12px 12px;
    }
    .content-box h5{
        font-size: 16px;
        margin-top: 5px;
    }
    .content-box p{
        font-size: 12px;
    }
}


@media only screen and (max-width: 576px){
    .image{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .img-box{
        width: 100%;
      
    }
    .content-box{
        width: 100%;
        text-align: start;
        padding: 0px 12px 12px 12px;
    }
    .content-box h5{
        font-size: 20px;
        margin-top: 5px;
    }
    .content-box p{
        font-size: 15px;
    }
}