
.about-content, .para{
    color:rgba(8, 8, 8, 0.726);
}


.content-aid{
   padding: 10px;
   margin-top: 30px;
   text-align: start;
   align-items: center;
   justify-content: center;
}




.left-img{
    padding-left: 0px;
    width: 100%;
    /* height: 100vh; */
}

.about-img{
    border-radius: 20px;
    width: 100%;
    transform: translate(20px, 10px);
}

.about-hero-text{
    font-size: 30px;
    font-weight: 700;
    padding: 0px 0px 10px 0px;
}


.about-box{
    padding: 20px;
    border-radius: 15px;
}

.d-flex{
    padding: 10px;
}

.icon{
    padding: 10px;
    color: white;
    font-size: 22px;
    border-radius: 7px;
}






@media only screen and (max-width: 900px){

    .css-mhc70k-MuiGrid-root>.MuiGrid-item {
        padding-left: 0px !important;
    }
    
    .about-content{
        color: black;
        align-items: center;
        text-align: start;
        position: absolute;
        left: 0;
    }
    
  }

@media only screen and (max-width: 625px){
    .hero-text{
      font-size: 40px;
      font-weight: 700;
      left: 5%;
    }
  
    .about-content{
        left: 8%;
    }
    

  }




